
body {
  width: 100%;
  position: relative;
}

.body_bg_2 {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.wrap {
  width: 100%;
}

/* header */
header {
  width: 100%;
  z-index: 100;
  position: fixed;
}

.header_wrap {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid #e5e7ed;
}

.h_full_box {
  height: 90px;
  background: #fff;
}

/* logo */

.logo_wrap {
  display: flex;
  width: 167px;
  margin-right: 34px;
  align-items: center;
}

.logo_wrap a{
  color: #222;
  font-weight: 700;
}

.logo_wrap_img img {
  display: block;
  width: 70px;
  height: 60.2px;
  margin-right: 15px;
}

.logo_wrap span {
  white-space: nowrap;
  font-size: 1.25rem;
  margin-right: 6px;
}

.logo_wrap_btn img {
  width: 18px;
}

/* gnb */

.gnb ul {
  width: 534px;
  display: flex;
  justify-content: space-around;
}

.gnb > ul > li > a  {
  font-size: 1.125rem;
  color: #222;
}

.gnb > ul > li > a:hover {
  color: #d91833 !important;
}

.gnb dl {
  position: absolute;
  top: 130px;
  line-height: 2.4;
  z-index: 5;
  display: none;
}

.gnb_01 {
  position: absolute;
  left: 23%;
}

.gnb_02 {
  position: absolute;
  left: 33%;
}

.gnb_03 {
  position: absolute;
  left: 43%;
}

.gnb_04 {
  position: absolute;
  left: 53%;
}

.gnb_05 {
  position: absolute;
  left: 63%;
}

.gnb_06 {
  position: absolute;
  left: 73%;
}

.gnb dt {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.gnb dd {
  font-size: 1rem;
  color: #565656;
}

.gnb dd a:hover {
  font-size: 1rem;
  color: rgb(217, 24, 51);
}

.nav_bg {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 90px;
  left: 0;
  height: 333px;
  border-top: 1px solid #e6e2e2;
  display: none;
}


/* top menu */

.top_menu ul {
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.top_menu > ul > li > a {
  font-size: .9375rem;
  color: #222;
}

.nav_dash{
  display: inline-block;
  margin-left: 10px;
  content: "";
  width: 1px;
  height: 12px;
  background: #222;
}

/* mobile menu */

.mobile_menu ul {
  display: flex;
  justify-content: space-between;
  width: 104px;
  position: absolute;
  top: 15px;
  right: 0;
}

/* 검색창 */

.search_wrap {
  display: none;
  width: 100%;
  height: 184px;
  position: absolute;
  left: 0;
  top: 90px;
  background: #fff;
  border-top: 1px solid #e6e2e2;
}

.input_wrap {
  display: flex;
  gap: 10px;
  background: rgb(248, 248, 248);
  width: 800px;
  padding: 15px 32px;
  box-sizing: border-box;
  margin: 60px auto;
  border-radius: 50px;
  align-items: center;
}

input {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  height: 40px;
  background: none;
  border: none;
}

input::placeholder {
  color: #a8a8a8;
}

/* logo_category */

.logo_category{
  width: 100%;
  height:660px;
  background-color:#ffffff;
  border-top:1px solid #efefef;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 1000;
  display: none;
}

.logo_cont_wrap{
  width: 1356px;
  margin: 0 auto;
  padding-top:50px;
  box-sizing: border-box;
  background: #fff;
}

/*men*/

.men_font{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.d_flex{
  display: flex;
  justify-content: center;
}

.men_emb_grop{
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
}

.men_emb_grop p{
  font-size:16px;
}

.hr{
  width: 1356px;
  height: 1px;
  background-color: #efefef;
  margin: 40px 0;
}

/*women*/

.women_font{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.m_emb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  background: #f9f9f9;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: border 0.4s;
}

.w_emb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  background: #f9f9f9;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: border 0.4s;
}

.d_flex{
  display: flex;
  justify-content: center;
}

.women_emb_grop{
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 35px;
}

.women_emb_grop p{
  font-size:16px;
}

.m_emb img{
  width: 70px;
  height: 60px;
}

.w_emb img{
  width: 70px;
  height: 60px;
}

#jung_emb{
  border: 5px solid #D91833 !important;
}

.kovo_home{
  margin:0 auto;
  width: 172px;
  height:55px;
  color:#ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top:15px;
  box-sizing: border-box;
  background: rgb(36, 56, 239);
}

/* main */

.main_wrap {
  width: 100%;
  color: #222;
}

/* main content */

.main_content_wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  background: #fff;
}

/* 배너 */

.banner {
  height: 75px;
  padding: 62px;
  position: relative;
  background: url(../images/pc_sub_banner_jeong.5be398ba.png);
}

.banner span {
  margin: 0 276px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

/* tag */

.tag {
  position: relative;
  border-bottom: 1px solid #e6e2e2;
}
.tag ul {
  width: 454px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  font-size: 16px;
}

.tag ul li {
  width: 130px;
  padding: 16px 0;
  text-align: center;
  color: #666;
  font-weight: 600;
}

.tag ul li.on {
  color: #222;
  border-bottom: 2px solid #222;
}

/* staff wrap */

.staff_wrap {
  position: relative;
  max-width: 1124px;
  margin: 0 auto 150px;
  overflow: hidden;
}

.staff_wrap > div {
  display: none;
}

.staff_wrap > div.active {
  display: block;
}

/* h2 */

.h2_wrap{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 24px;
}

h2 {
  font-size: 36px;
}

.pagination {
  font-size: 14px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.color_gray {
  color: #666;
}

/* staff img */

.coaching_staff_wrap {
  margin-bottom: 144px;
}

.coaching_staff_content ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 1.5rem;
  row-gap: 2rem;
}

.coaching_staff_content > a:hover {
  color: #d91833;
  border: 2px solid #d91833;
}

.staff_img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  background: url(https://kovo.co.kr/assets/person_bg.07b9fe57.svg);
}

.staff_img img, .player_img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.name {
  font-size: 18px;
  text-align: center;
  color: #383838;
}

.name span {
  color: #222;
  font-weight: 600;
}

.coaching_staff_wrap a {
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 6px 15px;
  box-sizing: border-box;
  margin: 16px auto 0;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.coaching_staff_wrap a:hover {
  color: #d91833;
  border: 2px solid #d91833;
  font-weight: bold;
}

.person_detail_01, .person_detail_02, .person_detail_03, .person_detail_04 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 468px;
  height: auto;
  transform: translate(-50%, -50%);
  color: #666;
  font-size: 1rem;
  font-weight: bold;
  z-index: 5000;
  display: none;
}

.person_scroll {
  height: 645px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow-y: scroll;
}

.person_scroll::-webkit-scrollbar {
  display: none;
}

.p1 {
  color: #222;
}

.person {
  width: 420px;
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
}

.p_img_wrap {
  width: 416px;
  height: 416px;
  border: 1px solid #e6e2e2;
  margin: 0 auto 1rem;
}

.p_img_wrap img {
  width: 100%;
  height: auto;
  background: url(https://kovo.co.kr/assets/person_bg.07b9fe57.svg) no-repeat;
  background-size: cover;
}

.p_p_wrap {
  display: flex;
  justify-content: space-between;
}

.gap_bg {
  width: 468px;
  height: 8px;
  background: #f5f5f5;
}

.detail {
  background: #fff;
  width: 420px;
  padding: 24px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10 px;
}

.detail_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail_1::after {
  content: "";
  width: 416px;
  border: 1px solid #f5f5f5;
  margin: 24px 0;
}

.detail_2 {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.person_detail_01 > a, .person_detail_02 > a, .person_detail_03 > a, .person_detail_04 > a {
  display: block;
  width: 436px;
  height: 36px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #d91833;
  font-size: 17px;
  letter-spacing: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.p_bg {
  width: 100%;
  height: 100%;
}

/* footer */

footer {
  /* width: 100%; */
  padding: 50px 0;
  box-sizing: border-box;
  background: rgb(57, 58, 69);
  /* display: none; */
}

.footer_wrap {
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 40px;
}

.kovo_logo img {
  max-width: 100%;
  height: auto;
}

.term ul {
  width: 100%;
  display: inline-flex;
  gap: 10px;
}

.term a {
  color: #fff;
  font-size: .9375rem;
  font-weight: 500;
}

.footer_detail address, .footer_detail p {
  color: #ffffff99;
  font-size: .875rem;
}

.footer_detail {
  width: 900px;
}

address {
  margin: 20px 0 0;
}

.term_p {
  margin-top: 20px;
}

/* 토글 */

.topmenu_bg {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.toggle {
  display: none;
  position: fixed;
  top: 0;
  right: -340px;
  width: 340px;
  height: 880px;
  z-index: 500;
  transition: all .4s ease-in-out;
}

.toggle_header {
  background: #2438ef;
  height: 70px;
  padding: 16px 16px 24px;
  color: #fff;
}

.toggle_header_top {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 0 0 18px;
}

.language {
  display: flex;
  gap: 7px;
}

.icon {
  display: flex;
  gap: 15px;
}

.toggle_header_bottom {
  font-size: 20px;
  font-weight: 700;
}

.toggle_main {
  background: #fff;
  padding: 16px;
  height: 100%;
}

.toggle_main li a {
  width: 308px;
  height: 40px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.toggle_main li p {
  width: 234px;
  margin: 0 0 0 16px;
}

.toggle_main img {
  margin-left: 15px;
  width: 8px;
  height: 8px;
}

.mobile_menu {
  display: none;
}

.toggle {
  display: none;
}

.topmenu_bg {
  display: none;
}

/* 미디어쿼리 */

@media screen and (min-width: 768px) and (max-width: 1124px){

  body {
      position: relative;
  }

  /* 토글 */

  .mobile_menu {
      display: block;
  }

  .topmenu_bg {
      display: none;
  }

  .toggle {
      display: none;
  }

  /* 헤더 */

  .h_full_box {
      height: 57px;
  }

  .header_wrap {
      height: 57px;
      background: #fff;
  }

  /* 헤더 로고 부분 */

  .logo_wrap {
      width: auto;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 15px;
  }

  .logo_wrap_img img {
      width: auto;
      height: 34px;
      margin-right: 5px;
  }

  .logo_wrap span {
      color: #222;
      font-size: 1rem;
  }
  
  .logo_wrap_btn img {
      top: 5px;
      color: #222;
  }

  /* gnb */

  .gnb ul, .nav_bg {
      display: none;
  }

  /* top menu */

  .top_menu ul {
      display: none;
  }

  /* 검색창 */

  .search_wrap {
      width: 100%;
      height: 48px;
      top: 57px;
      left: 0;
      padding: 24px 0;
  }

  .input_wrap {
      width: 100%;
      padding: 4px 16px;
      box-sizing: border-box;
      margin: 0;
  }

  input {
      font-size: 1rem;
  }

  /* logo_category */

  .logo_category {
      height: auto;
      top: 57px;
  }
  
  .logo_cont_wrap {
      width: 100%;
      padding: 24px 16px;
  }

  .hr {
      width: 100%;
      margin: 20px 0;
  }

  /*men*/

  .men_font {
      font-size: 18px;
  }

  .men_emb_grop p {
      display: none;
  }

  .m_emb img {
      width: 56px;
      height: 42px;
  }
  
  /*women*/
  
  .women_font {
      font-size: 18px;
  }
  
  .women_emb_grop p {
      display: none;
  }

  .women_emb_grop {
      margin-bottom: 10px;
  }
  
  .w_emb img {
      width: 56px;
      height: 42px;
  }

  /* 배너 */

  .banner {
      height: 50px;
      text-align: center;
      background: url(../images/tablet_sub_banner_jeong.56840093.png);
  }

  /* staff wrap */

  .staff_wrap {
      /* min-width: 96%; */
      margin: auto 16px;
  }

  /* h2 */

  .h2_wrap{
      padding: 40px 0 16px;
  }

  h2 {
      font-size: 32px;
  }

  /* staff img */

  .coaching_staff_wrap {
      margin-bottom: 80px;
  }

  .staff_img {
      width: 100%;
      height: auto;
  }

  .name {
      font-size: 16px;
  }

  .person_detail_01, .person_detail_02, .person_detail_03, .person_detail_04 {
      width: 383px;
  }

  .person_scroll {
      height: 500px;
  }

  .person {
      width: 335px;
  }

  .p_img_wrap {
      width: 330px;
      height: 330px;
  }

  .gap_bg {
      width: 383px;
  }

  .person_detail_01 > a, .person_detail_02 > a, .person_detail_03 > a, .person_detail_04 > a {
      width: 352px;
  }

  /* footer */

  footer {
      padding: 40px 0;
  }

  .footer_wrap {
      margin: 0 16px;
  }

  .kovo_logo img {
      width: 100px;
  }

  .footer_detail {
      width:100%;
  }

  .term ul {
      width: 100%;
  }
  .term a {
      font-size: .875rem;
  }

  .footer_detail address, .footer_detail p {
      font-size: .8125rem;
  }
}

@media screen and (max-width: 768px) {

  body {
      position: relative;
      min-width: 500px;
      overflow-x: hidden;
  }

  /* 토글 */

  .mobile_menu {
      display: block;
  }

  .toggle {
      display: none;
  }
  
  .toggle_main li a {
      width: 100%;
  }

  .toggle_main li p {
      width: 100%;
  }
  
  /* 헤더 */

  .h_full_box {
      height: 57px;
  }

  .header_wrap {
      height: 57px;
      background: #fff;
  }

  /* 헤더 로고 부분 */

  .logo_wrap {
      width: auto;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 15px;
  }

  .logo_wrap_img img {
      width: auto;
      height: 30px;
      margin-right: 5px;
  }

  .logo_wrap span {
      color: #222;
      font-size: 1rem;
  }

  /* gnb */

  .gnb ul, .nav_bg {
      display: none;
  }

  /* top menu */

  .top_menu ul {
      display: none;
  }

  /* 검색창 */

  .search_wrap {
      height: 48px;
      top: 57px;
      left: 0;
      padding: 24px 0;
  }

  .input_wrap {
      width: 100%;
      padding: 4px 16px;
      box-sizing: border-box;
      margin: 0;
  }

  input {
      font-size: 14px;
  }

  /* logo_category */

  .logo_category {
      height: 668px;
      top: 57px;
  }
  
  .logo_cont_wrap {
      width: 100%;
      padding: 24px 16px;
  }

  .hr {
      width: 100%;
      margin: 20px 0;
  }

  /*men*/

  .men_font {
      font-size: 18px;
  }

  .men_emb_grop {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
  }

  .men_emb_grop p {
      display: none;
  }

  .m_emb img {
      width: 56px;
      height: 42px;
  }
  
  /*women*/
  
  .women_font {
      font-size: 18px;
  }
  
  .women_emb_grop {
      flex-wrap: wrap;
      margin-bottom: 10px;
      justify-content: center;
      gap: 15px;
  }
  
  .women_emb_grop p {
      display: none;
  }

  .w_emb img {
      width: 56px;
      height: 42px;
  }

  /* 배너 */

  .banner {
      height: 45px;
      padding: 32px;
      text-align: center;
      background: #d91833;
  }

  .banner span {
      margin: 0 auto;
      font-size: 30px;
  }

  /* tag */

  .tag ul {
      width: 300px;
      display: flex;
      gap: 30px;
      margin: 0 auto;
      font-size: 14px;
  }

  /* staff wrap */

  .staff_wrap {
      margin: 0 16px;
  }

  .pagination {
      display: none;
  }

  /* h2 */

  h2 {
      font-size: 24px;
  }

  /* staff img */

  .coaching_staff_wrap {
      margin-bottom: 50px;
  }
  
  .coaching_staff_content ul {
      grid-template-columns: repeat(2,minmax(0,1fr));
      row-gap: 1rem;
  }

  .staff_img {
      width: 100%;
      height: auto;
  }

  .name {
      font-size: 16px;
  }

  .coaching_staff_wrap a {
      font-size: 14px;
      width: 100%;
      height: 35px;
      padding: 5px 0;
  }

  .person_detail_01, .person_detail_02, .person_detail_03, .person_detail_04 {
      width: 383px;
  }

  .person_scroll {
      height: 500px;
  }

  .person {
      width: 335px;
  }

  .p_img_wrap {
      width: 330px;
      height: 330px;
  }

  .gap_bg {
      width: 383px;
  }

  .person_detail_01 > a, .person_detail_02 > a, .person_detail_03 > a, .person_detail_04 > a {
      width: 352px;
  }

  /* footer */

  footer {
      padding: 24px 0;
  }

  .footer_wrap {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
      padding: 0 16px;
  }

  .kovo_logo img {
      width: 100px;
  }

  .footer_detail {
      width:100%;
  }

  .term ul {
      width: 100%;
      flex-wrap: wrap;
      gap: 10px;
  }
  .term a {
      font-size: 0.813rem;
  }

  .footer_detail address, .footer_detail p {
      font-size: .688rem;
  }
}
input{
      font-size: 14px;
      width:auto;
      height: auto;;
    }

    label{
      font-size: 16px;
      font-weight: 600;
    }
    
    p{
      font-size: 14px;
    }

    h1{
      text-align: center;
      margin-bottom: 20px;
    }

    .check{
      margin : 0 1.5rem;
      margin-bottom: 35px;
    }

    .check1{
      padding:10px;
      border-bottom:1px solid rgb(234, 234, 234);
    }

    .signup-wrap{
      width:650px;
      border-radius: 12px;
      border:1px solid rgb(234, 234, 234);
      margin : 0 auto;
      margin-top:104px;
      margin-bottom:104px;
      overflow: hidden;
    }

    h1{
      font-size: 34px;
      text-align: center;
      margin: 50px 0 ;
    }

    h3{
      font-size: 18px;
    }


    .indicator-wrap{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 2rem;
      position: relative;
    }
    
    .indicator1,
    .indicator2,
    .indicator3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    font-size: 20px;
    color:rgb(188, 188, 188);
    width:150px;
    position: relative;
    
    }
    
    .indicator1{
      color:#000;
      font-weight: 600;
    }
    
    .indicator1::after,
    .indicator2::after{
      content: ">";
      position: absolute;
    }
    
    .indicator1::after{
      right: -22px;
    }
    .indicator2::after{
      right: -36px;
    
    }
    
    .indicator-line{
      width:92px;
      height:3px;
      background: #d91833;
      position: absolute;
      bottom:16px;
      left: 62px;
    
    }
    


    .each-agreement{
      margin: 0 3rem; 
    }

    .each-agreement .check2,
    .each-agreement .check3{
      text-align: right;
      margin-right: 3.1rem;
    }

    .each-agreement label{
      font-size: 14px;
      color:grey;
      font-weight: 300;
    }

    .agreement-wrap{
      margin: 1rem 0;
      height:200px;
      overflow-y: scroll;
      padding:1rem;
      border:1px solid rgb(234, 234, 234);
    }

    form button{
      color: #fff;
      font-size: 18px;
      display: block;
      width:100%;
      padding: 15px;
      background: #d91833;

    }