.tablet-unblock-p, .mobile-unblock{
  display: none;
}

svg{
  cursor: pointer;
}

.popup[data-popup="false"]{
  display: none;

}

.popup[data-popup="true"]{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 500px;
  height: auto;
  z-index: 110;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 9px 2px grey;

}

.popup-sns {
  display: flex;
  justify-content: space-between;
}

.popup-sns img{
  width: 30px;
}


.popup > h3{
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom : 20px;
}


.popup .grid-popup-header,
.popup .grid-popup-body{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.popup .grid-popup-header{
  margin : 1rem 0.8rem 0;
  grid-gap: 1px;
  text-align: center;

}

.popup .grid-popup-body{
  margin :0 0.8rem;
  grid-gap: 1px;
  text-align: center;

}


.popup .grid-popup-body{
  background: #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.popup .grid-popup-header > div{
  font-size: 16px;
  background: #eaeaea;
  padding: 10px 0;
}

.popup .grid-popup-body > div{
  background: #fff;
  font-size: 16px;
  padding: 10px 0;
}

.popup button{
  color:#fff;
  letter-spacing: 3px;
  display: block;
  width:100%;
  background: #d91833;
  border: none;
  padding:1rem 0 ;
  margin-top:2rem;
  cursor: pointer;
}

.popup-background{
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background: rgb(0, 0, 0, 0.2);
  z-index: 100;
}



.wrap {
  width: 100%;
  padding-bottom: 144px;
}

/* header */
header {
  width: 100%;
  z-index: 100;
  position: fixed;
}

.header_wrap {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 90px;
  transition: all 0.3s;
  border-bottom : 1px solid #e5e7ed;
}

.h_full_box {
  height: 90px;
  background: #fff;
}

/* logo */

.logo_wrap {
  display: flex;
  width: 167px;
  margin-right: 34px;
  align-items: center;
}

.logo_wrap a{
  color: #222;
  font-weight: 700;
}

.logo_wrap_img img {
  display: block;
  width: 70px;
  height: 60.2px;
  margin-right: 15px;
}

.logo_wrap span {
  white-space: nowrap;
  font-size: 1.25rem;
  margin-right: 6px;
}

.logo_wrap_btn img {
  width: 18px;
}

/* gnb */

.gnb ul {
  width: 534px;
  display: flex;
  justify-content: space-around;
}

.gnb > ul > li > a  {
  font-size: 1.125rem;
  color: #222;
}

.gnb > ul > li > a:hover {
  color: #d91833 !important;
}

.gnb dl {
  position: absolute;
  top: 130px;
  line-height: 2.4;
  z-index: 5;
  display: none;
}

.gnb_01 {
  position: absolute;
  left: 23%;
}

.gnb_02 {
  position: absolute;
  left: 33%;
}

.gnb_03 {
  position: absolute;
  left: 43%;
}

.gnb_04 {
  position: absolute;
  left: 53%;
}

.gnb_05 {
  position: absolute;
  left: 63%;
}

.gnb_06 {
  position: absolute;
  left: 73%;
}

.gnb dt {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.gnb dd {
  font-size: 1rem;
  color: #565656;
}

.gnb dd a:hover {
  font-size: 1rem;
  color: rgb(217, 24, 51);
}

.nav_bg {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 90px;
  left: 0;
  height: 333px;
  border-top: 1px solid #e6e2e2;
  display: none;
}


/* top menu */

.top_menu ul {
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.top_menu > ul > li > a {
  font-size: .9375rem;
  color: #222;
}

.nav_dash{
  display: inline-block;
  margin-left: 10px;
  content: "";
  width: 1px;
  height: 12px;
  background: #222;
}

/* mobile menu */

.mobile_menu ul {
  display: flex;
  justify-content: space-between;
  width: 104px;
  position: absolute;
  top: 15px;
  right: 0;
}

/* 검색창 */

.search_wrap {
  display: none;
  width: 100%;
  height: 184px;
  position: absolute;
  left: 0;
  top: 90px;
  background: #fff;
  border-top: 1px solid #e6e2e2;
}

.input_wrap {
  display: flex;
  gap: 10px;
  background: rgb(248, 248, 248);
  width: 800px;
  padding: 15px 32px;
  box-sizing: border-box;
  margin: 60px auto;
  border-radius: 50px;
  align-items: center;
}

input {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  height: 40px;
  background: none;
  border: none;
}

input::placeholder {
  color: #a8a8a8;
}

/* logo_category */

.logo_category{
  width: 100%;
  height:660px;
  background-color:#ffffff;
  border-top:1px solid #efefef;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 1000;
  display: none;
}

.logo_cont_wrap{
  width: 1356px;
  margin: 0 auto;
  padding-top:50px;
  box-sizing: border-box;
  background: #fff;
}

/*men*/

.men_font{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.d_flex{
  display: flex;
  justify-content: center;
}

.men_emb_grop{
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
}

.men_emb_grop p{
  font-size:16px;
}

.hr{
  width: 1356px;
  height: 1px;
  background-color: #efefef;
  margin: 40px 0;
}

/*women*/

.women_font{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.m_emb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  background: #f9f9f9;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: border 0.4s;
}

.w_emb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  background: #f9f9f9;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: border 0.4s;
}

.d_flex{
  display: flex;
  justify-content: center;
}

.women_emb_grop{
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 35px;
}

.women_emb_grop p{
  font-size:16px;
}

.m_emb img{
  width: 70px;
  height: 60px;
}

.w_emb img{
  width: 70px;
  height: 60px;
}

#jung_emb{
  border: 5px solid #D91833 !important;
}

.kovo_home{
  margin:0 auto;
  width: 172px;
  height:55px;
  color:#ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top:15px;
  box-sizing: border-box;
  background: rgb(36, 56, 239);
}




/* tag */

.tag {
  position: relative;
  border-bottom: 1px solid #e6e2e2;
}
.tag ul {
  width: 454px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  font-size: 16px;
}

.tag ul li {
  width: 130px;
  padding: 16px 0;
  text-align: center;
  color: #999;
  font-weight: 600;
}

.tag ul li.on {
  color: #222;
  border-bottom: 2px solid #222;
}







/* Soohan  main area */
main{
  position: relative;
  z-index: 2;
}

.top-banner{
  background: url(https://kovo.co.kr/assets/pc_sub_banner_jeong.5be398ba.png) no-repeat;
  width:100%;
  height: 199px;
  position: relative;
}

.top-banner h2{
  color:#fff;
  font-size: 50px;
  font-weight: bold;
  position: absolute;;
  top: 50%;
  left:280px;
  transform: translateY(-50%);
  
}


/* tab area */
.tab{
  border-bottom: 1px solid #eee;
}

.tab ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height:fit-content;
  width: fit-content;
  margin:0 auto;
  position: relative;
}

.tab ul::after{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  height:2px;
  width:130px;
  background: #000;
  translate: var(--_left, 0) 0;
  transition : translate 300ms;

}

.tab ul li{
  text-align: center;
  width:130px;
  font-size: 16px;
  font-weight: 600;
  color : #666;
  line-height: 57px;
  letter-spacing: -1px;
  white-space: nowrap;
}


.tab ul .activated{
  text-align: center;
  width:130px;
  font-weight: 600;
  color:#000

}

 /* main pagination area */


article{
  min-width: 1025px;
  width:71.25%;
  margin: 50px auto 0;
  position: relative;
}

.content div[data-pagination]{
  position: absolute;
  right:0;
  top: 20px;
}

.content div[data-pagination] svg{
  vertical-align: middle;
}

.content div[data-pagination] span:nth-of-type(1){
  color:#666
}


/* player record area */

.content h2{
font-size: 32px;
font-weight: bold;
margin-top:40px;
margin-bottom: 24px;
}

.css-player-tab ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-player-tab li{
  width:50%;
  text-align: center;
  background: #eee;
}

.css-player-tab li{
  width:50%;
  text-align: center;
  background: #eee;
}


.css-player-tab li[data-tab="true"] {
  width:50%;
  text-align: center;
  background: #fff;
  color : #d91833;
  border: 1px solid;

}


.css-player-tab li a{
line-height: 56px;
display: block;
}

.content > p{
  text-align: end;
  padding:6px 0;
  margin-bottom: 30px;

}




/* search area */

form{
  padding: 30px 20px;
  background: #eee;
}


form select{
  height: 38px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  
}

.session-start,
.session-end{
  display: inline-block;
}

.session-top{
  margin-bottom: 20px;
}

.session-top label{
  font-weight: 600;
}

form .tilde{
  margin: 0 20px;
}
form .session{
  width: 250px;
  margin-right: 10px;
}
form .round{
  width:120px;
}

form .type{
  width:120px;
}


form button{
  color: #fff;
  background: #d91833;
  margin-left: 10px;
  padding: 0 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 38px;
  box-sizing:border-box;
  cursor: pointer;
}


.search-detail{
    overflow: hidden;
  }

  .button-wrap{
    display: block;
    width:auto;
    text-align: center;
    padding:10px 0;
    cursor: pointer;
    border-right:1px solid#eaeaea;
    border-left:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    box-sizing: border-box;
  }
  .search-detail button{
    background: none;
    border: none;
  }

  .form-wrap[data-form="false"]{
    height: 0;
    transition : height 0.3s ease-in-out;
  }

  .form-wrap[data-form="true"]{
    height: 100;
    transition : height 0.3s ease-in-out;
  }

  .search-detail p{
    display: inline-block;
  }

  .button-wrap .css-o82kp5{
    transition : transform 450ms;
  }

/* table area */

/* tab selection area */
table[data-table="true"]{
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  margin-top: 24px;
}

table[data-table="false"]{

  display:none;
}

thead th svg{
  vertical-align: text-top;
}

table thead th{
  height:32px;
  border-left : 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background: #f9f9f9;
  padding:8px 16px
}



table thead th:nth-of-type(1){
  width:auto;
  border-left : none;
}

table tbody td{
  padding:16px;
  background: #fff;
  border-left : 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

}

table tbody td:nth-of-type(1){
  border-left : none;
}

.content p:nth-of-type(2),
.content p:nth-of-type(3),
.content p:nth-of-type(4)
{
  text-align: left;

}

.content .table-info{
  margin-top: 16px;
}
.content .table-info li{
  padding: 2px 0;
}



/* 소현  */
/* footer */

footer {
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  background: rgb(57, 58, 69);
  /* display: none; */
}

.footer_wrap {
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 40px;
}

.kovo_logo img {
  max-width: 100%;
  height: auto;
}

.term ul {
  width: 100%;
  display: inline-flex;
  gap: 10px;
}

.term a {
  color: #fff;
  font-size: .9375rem;
  font-weight: 500;
}

.footer_detail address, .footer_detail p {
  color: #ffffff99;
  font-size: .875rem;
}


address {
  margin: 20px 0 0;
}

.term_p {
  margin-top: 20px;
}


/* 토글 변경 영역 */
/* 토글 */

.topmenu_bg {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.toggle {
  display: none;
  position: fixed;
  top: 0;
  right: -340px;
  width: 340px;
  height: 880px;
  z-index: 500;
  transition: all .4s ease-in-out;
}

.toggle_header {
  background: #2438ef;
  height: 70px;
  padding: 16px 16px 24px;
  color: #fff;
}

.toggle_header_top {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 0 0 18px;
}

.language {
  display: flex;
  gap: 7px;
}

.icon {
  display: flex;
  gap: 15px;
}

.toggle_header_bottom {
  font-size: 20px;
  font-weight: 700;
}

.toggle_main {
  background: #fff;
  padding: 16px;
  height: 100%;
}

.toggle_main li a {
  width: 308px;
  height: 40px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.toggle_main li p {
  width: 234px;
  margin: 0 0 0 16px;
}

.toggle_main img {
  margin-left: 15px;
  width: 8px;
  height: 8px;
}

.mobile_menu {
  display: none;
}


.toggle {
display: none;
}

.topmenu_bg {
display: none;
}





/* media area */

@media (min-width: 768px) and (max-width: 1124px){
.tablet-unblock-p{
display: inline-block;
font-size :16px;
font-weight: 600;
padding: 5px 0 ;

}

.mobile_menu {
  display: block;
}

.wrap{
padding-bottom: 80px;
}


/* tablet main area */
.top-banner{
background: url(https://kovo.co.kr/assets/tablet_sub_banner_jeong.56840093.png) no-repeat;

}

.top-banner h2{
position: unset;
padding:62px 0;
height:100%;
box-sizing: border-box;
text-align: center;

transform: none;
}


article{
min-width: auto;
width:auto;
margin : 0 16px;
}


.session-end{
margin-top:10px;
}

.content > p{
font-size :13px;
}




  /* 소현 */
  body {
      position: relative;
  }

  /* 토글 */

  .topmenu_bg {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
  }


  .toggle_header {
      background: #2438ef;
      height: 70px;
      padding: 16px 16px 24px;
      color: #fff;
  }
  
  .toggle_header_top {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      margin: 0 0 18px;
  }

  .language {
      display: flex;
      gap: 7px;
  }

  .icon {
      display: flex;
      gap: 15px;
  }

  .toggle_header_bottom {
      font-size: 20px;
      font-weight: 700;
  }

  .toggle_main {
      background: #fff;
      padding: 16px;
      height: 100%;
  }

  .toggle_main li a {
      width: 308px;
      height: 40px;
      display: flex;
      font-size: 16px;
      align-items: center;
  }

  .toggle_main li p {
      width: 234px;
      margin: 0 0 0 16px;
  }

  .toggle_main img {
      margin-left: 15px;
      width: 8px;
      height: 8px;
  }

  /* 헤더 */

  .h_full_box {
      height: 57px;
  }

  .header_wrap {
      height: 57px;
      background: #fff;
  }

  /* 헤더 로고 부분 */

  .logo_wrap {
      width: auto;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 15px;
  }

  .logo_wrap_img img {
      width: auto;
      height: 34px;
      margin-right: 5px;
  }

  .logo_wrap span {
      color: #222;
      font-size: 1rem;
  }
  
  .logo_wrap_btn img {
      top: 5px;
      color: #222;
  }

  /* gnb */

  .gnb ul, .nav_bg {
      display: none;
  }

  /* top menu */

  .top_menu ul {
      display: none;
  }

  /* 검색창 */

  .search_wrap {
      width: 100%;
      height: 48px;
      top: 57px;
      left: 0;
      padding: 24px 0;
  }

  .input_wrap {
      width: 100%;
      padding: 4px 16px;
      box-sizing: border-box;
      margin: 0;
  }

  input {
      font-size: 1rem;
  }

  /* logo_category */

  .logo_category {
      height: auto;
      top: 57px;
  }
  
  .logo_cont_wrap {
      width: 100%;
      padding: 24px 16px;
  }

  .hr {
      width: 100%;
      margin: 20px 0;
  }

  /*men*/

  .men_font {
      font-size: 18px;
  }

  .men_emb_grop p {
      display: none;
  }

  .m_emb img {
      width: 56px;
      height: 42px;
  }
  
  /*women*/
  
  .women_font {
      font-size: 18px;
  }
  
  .women_emb_grop p {
      display: none;
  }

  .women_emb_grop {
      margin-bottom: 10px;
  }
  
  .w_emb img {
      width: 56px;
      height: 42px;
  }





  /* 소현 */
  body {
    position: relative;
}

.wrap{
  padding-bottom: 80px;
}

/* 토글 변경 영역 12.21 */

    .topmenu_bg {
      display: none;
  }


  .toggle {
    display: none;
    position: fixed;
    top: 0;
    right: -340px;
    width: 340px;
    height: 880px;
    z-index: 500;
    transition: all .4s ease-in-out;
  }



/* 헤더 */

.h_full_box {
    height: 57px;
}

.header_wrap {
    height: 57px;
    background: #fff;
}

/* 헤더 로고 부분 */

.logo_wrap {
    width: auto;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.logo_wrap_img img {
    width: auto;
    height: 34px;
    margin-right: 5px;
}

.logo_wrap span {
    color: #222;
    font-size: 1rem;
}

.logo_wrap_btn img {
    top: 5px;
    color: #222;
}

/* gnb */

.gnb ul, .nav_bg {
    display: none;
}

/* top menu */

.top_menu ul {
    display: none;
}

/* 검색창 */

.search_wrap {
    width: 100%;
    height: 48px;
    top: 57px;
    left: 0;
    padding: 24px 0;
}

.input_wrap {
    width: 100%;
    padding: 4px 16px;
    box-sizing: border-box;
    margin: 0;
}

input {
    font-size: 1rem;
}

/* logo_category */

.logo_category {
    height: auto;
    top: 57px;
}

.logo_cont_wrap {
    width: 100%;
    padding: 24px 16px;
}

.hr {
    width: 100%;
    margin: 20px 0;
}

/*men*/

.men_font {
    font-size: 18px;
}

.men_emb_grop p {
    display: none;
}

.m_emb img {
    width: 56px;
    height: 42px;
}

/*women*/

.women_font {
    font-size: 18px;
}

.women_emb_grop p {
    display: none;
}

.women_emb_grop {
    margin-bottom: 10px;
}

.w_emb img {
    width: 56px;
    height: 42px;
}

.term ul{
  flex-wrap: wrap;
}

}



@media  (max-width:768px){
  .mobile-unblock{
    display: block;
  }

  .mobile-unblock-p{
    font-size :16px;
    font-weight: 600;
    padding: 5px 0;
    display: block;
    
  }

  .mobile_menu {
    display: block;
  }
  body{
    min-width: 500px;
    overflow-x: hidden;
  }

  .wrap{
    padding-bottom: 80px;
  }


  .search-detail{
    overflow: hidden;
  }

  .button-wrap{
    display: block;
    width:auto;
    text-align: center;
    padding:10px 0;
    cursor: pointer;
    border-right:1px solid#eaeaea;
    border-left:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    box-sizing: border-box;
  }
  .search-detail button{
    background: none;
    border: none;
  }

  .form-wrap[data-form="false"]{
    height: 0;
    transition : height 0.3s ease-in-out;
  }

  .form-wrap[data-form="true"]{
    height: 100;
    transition : height 0.3s ease-in-out;
  }

  .search-detail p{
    display: inline-block;
  }
  

  .top-banner{
    display: none;
  }




    /* tablet main area */
    .top-banner{
      background: url(https://kovo.co.kr/assets/tablet_sub_banner_jeong.56840093.png) no-repeat;
      
    }

    .top-banner h2{
      position: unset;
      padding:62px 0;
      height:100%;
      box-sizing: border-box;
      text-align: center;
      
      transform: none;
    }

    .tab ul li {
      font-size: 14px;
      line-height: 55px;

  }

    .content div[data-pagination]{
      display: none;
    }

    .content h2{
      font-size: 24px;
      margin-top:0;
      margin-bottom: 24px;
      padding-top:30px;
      }

      .content > p{
      font-size :13px;
    }


    article{
      min-width: auto;
      width:auto;
      margin : 0 16px;
    }


    /* table block CSS area */
        form .tilde{
      display: block;
      margin: 20px 0;
      padding-right: 240px;
      text-align: center;
      font-size:large;
    }


    table th{
      display: none;
    }

    table tbody td{
      display: grid;
      gap:0.5rem;
      grid-template-columns: 20% auto;
      border-left: none;
    }

    table td:first-child{
      /* padding-top:2rem; */
      background: #eaeaea;
    }

    /* table td:last-child{
      padding-bottom: 2rem;
    } */

    table td:nth-of-type(1):before{
      content : "순위";
    }

    table td:nth-of-type(2):before{
      content : "선수";
    }
    table td:nth-of-type(3):before{
      content : "전체팀";
    }
    table td:nth-of-type(4):before{
      content : "경기수";
    }
    table td:nth-of-type(5):before{
      content : "세트수";
    }
    table td:nth-of-type(6):before{
      content : "공격";
    }
    table td:nth-of-type(7):before{
      content : "블로킹";
    }
    table td:nth-of-type(8):before{
      content : "서브";
    }
    table td:nth-of-type(9):before{
      content : "득점";
    }
    
    table td::before{
      font-weight: 600;
    }

    table svg{
      position: absolute;
      left : 18%;      
    }

    .table-info li{
      font-size:1rem;
      line-height: 1.5rem;
    }




  
  .popup .grid{
    height: 500px;
    overflow-y: scroll
    }

    .popup .grid-popup-header{
      display: none;
    }

    .popup .grid-popup-body{
      grid-template-columns: 1fr;
      border-top:1px solid ;
      border-bottom:1px solid ;
      margin-bottom: 20px;
    }

    .popup .grid-popup-body > div{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid-popup-body > div:nth-of-type(1):before,
    .grid-popup-body > div:nth-of-type(2):before,
    .grid-popup-body > div:nth-of-type(3)::before,
    .grid-popup-body > div:nth-of-type(4)::before,
    .grid-popup-body > div:nth-of-type(5)::before,
    .grid-popup-body > div:nth-of-type(6)::before,
    .grid-popup-body > div:nth-of-type(7)::before,
    .grid-popup-body > div:nth-of-type(8):before{
      margin-right: 1.5rem;
      font-weight: 700;
    }


    .grid-popup-body > div:nth-of-type(1):before{
      content: "시즌 :";
    }
    .grid-popup-body > div:nth-of-type(2):before{
      content: "팀 :";
    }
    .grid-popup-body > div:nth-of-type(3)::before{
      content:"경기수 :";
    }
    .grid-popup-body > div:nth-of-type(4)::before{
      content:"세트수 :";
    }
    .grid-popup-body > div:nth-of-type(5)::before{
      content:"공격 :";
    }
    .grid-popup-body > div:nth-of-type(6)::before{
      content: "블로킹 :";
    }
    .grid-popup-body > div:nth-of-type(7)::before{
      content: "서브 :";
    }
    .grid-popup-body > div:nth-of-type(8):before{
      content:"득점 :";
    }

  .popup button{
    position: fixed;
    bottom: 0;
  }






    body {
      position: relative;
  }
  
  /* 토글 변경 12.21 */
  
    .toggle {
      display: none;
  }
  
  .toggle_main li a {
      width: 100%;
  }
  
  .toggle_main li p {
      width: 100%;
  }
  
  
  
  /* 헤더 */
  
  .h_full_box {
      height: 57px;
  }
  
  .header_wrap {
      height: 57px;
      background: #fff;
  }
  
  /* 헤더 로고 부분 */
  
  .logo_wrap {
      width: auto;
      height: 34px;
      position: absolute;
      top: 10px;
      left: 15px;
  }
  
  .logo_wrap_img img {
      width: auto;
      height: 30px;
      margin-right: 5px;
  }
  
  .logo_wrap span {
      color: #222;
      font-size: 1rem;
  }
  
  /* gnb */
  
  .gnb ul, .nav_bg {
      display: none;
  }
  
  /* top menu */
  
  .top_menu ul {
      display: none;
  }
  
  /* 검색창 */
  
  .search_wrap {
      height: 48px;
      top: 57px;
      left: 0;
      padding: 24px 0;
  }
  
  .input_wrap {
      width: 100%;
      padding: 4px 16px;
      box-sizing: border-box;
      margin: 0;
  }
  
  input {
      font-size: 14px;
  }
  
  /* logo_category */
  
  .logo_category {
      height: 668px;
      top: 57px;
  }
  
  .logo_cont_wrap {
      width: 100%;
      padding: 24px 16px;
  }
  
  .hr {
      width: 100%;
      margin: 20px 0;
  }
  
  /*men*/
  
  .men_font {
      font-size: 18px;
  }
  
  .men_emb_grop {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
  }
  
  .men_emb_grop p {
      display: none;
  }
  
  .m_emb img {
      width: 56px;
      height: 42px;
  }
  
  /*women*/
  
  .women_font {
      font-size: 18px;
  }
  
  .women_emb_grop {
      flex-wrap: wrap;
      margin-bottom: 10px;
      justify-content: center;
      gap: 15px;
  }
  
  .women_emb_grop p {
      display: none;
  }
  
  .w_emb img {
      width: 56px;
      height: 42px;
  }
  
  footer{
    margin-top: 44px;;
  }
  
  .kovo_logo img{
    width:100px;
  }
  
  .term ul{
    flex-wrap: wrap;
  }
  
  .footer_wrap{
    flex-direction: column;
    align-items: start;
    margin : 0 16px;
  }
  

  .top-banner{
    display: block;
    height: 109px;
    background: #D91833;
  }

  .top-banner h2{
  font-size: 30px;
  height: auto;
  padding:0;
  line-height: 109px;
  position : unset;
  transform: none;

  }

}

